body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

.content-general{
  height: 100%;
  width: 100%;
}

.header-row{
  height: 40%;
  background-image: url('/media/Background.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
}
.bg-navbar{
  background-color: rgba(0, 0, 0, 0.5);
  height: 22%;
  width: 100%;
  padding-bottom: 10px;
}

.logo{
  height: 40px;
  width: auto;
  margin-left: 10px;
}


.nav-item {
  border-radius: 5px 5px 0px 0px;
}

.navbar-collapse {

}

.navbar-collapse .navbar-nav{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-navbar-container {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .bg-navbar{
    background-color: transparent;
  }
  .navbar-brand{
    max-width: 60%;
  }
  .logo{
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  .bg-navbar-container{
    background-color: transparent;
  }
}


footer{
	background-color:#4c4747b0;
    padding: 30px 0px;
    font-family: 'Raleway', sans-serif;
}

footer ul{
    list-style:none;
    margin:0 auto;
    padding-left: 0;
    display:flex;
    padding-top:5px;
    justify-content: center;
}

@media (max-width: 414px) {

  footer ul{
    flex-wrap: wrap;
  }
}

footer ul li{
    text-align: center;

}

footer ul li a{
	color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}


.footer-top .fa{
    font-size:5px;
    color: #FFF;
    padding-right:10px;
}


.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-link i {
  padding-left: 10px;
  padding-right: 20px;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}

.align-signin-actions {
  display: flex;
}
