body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

.content-general{
  height: 100%;
  width: 100%;
}

.header-row{
  height: 30%;
  background-image: url('../../images/Background.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo{
  height: 20%;
  width: auto;
}


.nav-item {
  border-radius: 5px 5px 0px 0px;
}
