.container {
  font-family: "Verdana" ;

}

h5, h4, h6, p {
  font-family: "Verdana" ;
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

.container-button {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mybutton {
  background-color: #3382C5;
  vertical-align: middle;
  line-height:2em;
  color: white;
}

.button-text {
  text-decoration: none;
  color: white;
}

.col-card {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eeeeee;
}

.homepage .card {
  height: 100%;
}

.homepage .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-card {
  height: 100vh;
}

.home-img {
  height: 200px;
}
